<div class="myBoard">
  <div class="myBoard__header caption" *ngIf="location.uuid">Detail lokace</div>
  <div class="myBoard__header caption" *ngIf="!location.uuid">Nová lokace</div>
  <form class="myBoard__body" fxLayout="column" fxLayoutGap="1rem" (ngSubmit)="save(location)">
    <div fxLayout="column" fxLayoutGap=".5rem">
      <div>
        <div class="caption">Název</div>
        <input nbInput [(ngModel)]="location.name" type="text" name="locationName">
      </div>
      <div>
        <div class="caption">V</div>
        <nb-select [(selected)]="location.parent" [disabled]="!!location.uuid">
          <nb-option *ngFor="let par of locations" [value]="par">
            <span>{{par.name}}</span>
          </nb-option>
        </nb-select>
      </div>
    </div>

    <div>
      <button nbButton status="primary" [outline]="!!location.uuid" [disabled]="location.name.trim().length < 1">
        <span *ngIf="location.uuid">Uložit</span>
        <span *ngIf="!location.uuid">Přidat</span>
      </button>
    </div>
  </form>
</div>
