<div style="min-width: 110em">
  <form [formGroup]="assetForm" (ngSubmit)="submit()" class="editMode"
        *ngIf="this.showTemplate === 0"
        style="height: 100%; width: 100%;">
    <nb-card-body fxLayout="row" fxLayoutGap="2em">
      <div fxLayout="column" fxLayoutGap="1em" style="min-width: 75em">
        <div fxLayout="row" fxLayoutGap="1em">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="quantity">
              Počet
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="number" id="quantity" formControlName="quantity" fullWidth>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="user">
              Přiřazeno
            </label>
            <nb-form-field fxFlex>
              <nb-select id="user" formControlName="user" fullWidth>
                <nb-option *ngFor="let user of getUsers()" [value]="user">{{user.surname}} {{user.name}}</nb-option>
              </nb-select>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <label for="name">
            Zařazení
          </label>
          <div>
            {{categoryTree}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <label for="name">
            Pojmenování
          </label>
          <nb-form-field fxFlex>
            <input nbInput type="text" id="name" formControlName="name" fullWidth>
          </nb-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="1em">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="serialNumber">
              Sériové číslo
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="text" id="serialNumber" formControlName="serialNumber" fullWidth>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="inventoryNumber">
              Inventární číslo
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="text" id="inventoryNumber" formControlName="inventoryNumber" fullWidth>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="evidenceNumber">
              Evidenční číslo
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="text" id="evidenceNumber" formControlName="evidenceNumber" fullWidth>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="identificationNumber">
              Identifikační číslo
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="text" id="identificationNumber" formControlName="identificationNumber" fullWidth>
            </nb-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em">

        </div>
        <div fxLayout="row" fxLayoutGap="1em">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="inquiryDate">
              Datum pořízení
            </label>
            <nb-form-field fxFlex>
              <input nbInput readonly autocomplete="off" id="inquiryDate" formControlName="inquiryDate"
                     [nbDatepicker]="datepicker" fullWidth>
              <nb-datepicker #datepicker format="dd.MM.yyyy"></nb-datepicker>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="document">
              Doklad
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="text" id="document" formControlName="document" fullWidth>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
            <label for="inquiryPrice">
              Pořizovací cena
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="number" id="inquiryPrice" formControlName="inquiryPrice" fullWidth>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="25">
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="50">
            <label for="location">
              Umístění
            </label>
            <nb-form-field fxFlex>
              <input nbInput id="location" [nbAutocomplete]="autoControl" autocomplete="off" formControlName="location" fullWidth>
              <nb-autocomplete #autoControl [handleDisplayFn]="showLocation" >
                <nb-option [value]="location" *ngFor="let location of filteredControlLocation$ | async">
                  {{location.name}}
                </nb-option>
              </nb-autocomplete>
            </nb-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex="50">
            <label for="locationEtc">
              Upřesnění
            </label>
            <nb-form-field fxFlex>
              <input nbInput type="text" id="locationEtc" formControlName="locationEtc" fullWidth>
            </nb-form-field>
          </div>
        </div>
        <div class="caption">
          Ostatní
        </div>
        <div fxLayout="column" fxLayoutGap="1em">
          <nb-form-field fxFlex>
            <textarea nbInput fullWidth placeholder="Doplňující informace" formControlName="note"></textarea>
          </nb-form-field>
        </div>
      </div>
      <div fxLayout="column" style="height: 50%;overflow: auto">
        <img src="https://www.lg.com/cz/images/monitory/MD06233718/gallery/D02.jpg" style="height: 80%;">
        <div class="smallImages" fxLayout="row wrap" fxFlex="20">
          <img src="https://www.lg.com/cz/images/monitory/MD06233718/gallery/D02.jpg">
          <img src="https://www.lg.com/cz/images/monitory/MD06233718/gallery/D02.jpg">
          <img src="https://www.lg.com/cz/images/monitory/MD06233718/gallery/D02.jpg">
          <img src="https://www.lg.com/cz/images/monitory/MD06233718/gallery/D02.jpg">
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer fxLayout="row" fxLayoutAlign="space-between center" style="padding-left:0; padding-right: 0;">
      <div [ngTemplateOutlet]="bottomLeftActions"></div>
      {{showErrors() | json}}
      <div fxLayout="row" fxLayoutAlign="end center">
        <div *ngIf="!editMode" fxLayoutGap="1em">
          <button nbButton status="basic" outline type="button" (click)="dismiss()">
            <nb-icon icon="close"></nb-icon>
            Zavřít
          </button>
          <button nbButton status="info" *ngIf="ableToEdit()" outline
                  (click)="setEditModeTo(true)">
            <nb-icon icon="save"></nb-icon>
            Editovat
          </button>
        </div>
        <div *ngIf="editMode && asset" fxLayoutGap="1em">
          <button nbButton status="basic" outline type="button"
                  (click)="setEditModeTo(false);insertAssetDataIntoDetailForm(asset, usersMap, locations)">
            <nb-icon icon="close"></nb-icon>
            Zrušit
          </button>
          <button nbButton status="primary" outline [disabled]="!assetForm.valid">
            <nb-icon icon="save"></nb-icon>
            Uložit
          </button>
        </div>
        <div *ngIf="!asset" fxLayoutGap="1em">
          <button nbButton status="basic" outline type="button" (click)="resetForm()">
            <nb-icon icon="refresh"></nb-icon>
            Resetovat
          </button>
          <button nbButton status="success" outline [disabled]="!assetForm.valid">
            <nb-icon icon="save"></nb-icon>
            Vytvořit
          </button>
        </div>
      </div>
    </nb-card-footer>
  </form>
  <div *ngIf="showTemplate === 1">
    <form [formGroup]="noteForm" fxLayout="column" (ngSubmit)="saveNote()">
      <nb-card-body fxLayout="column" fxLayoutGap="1em">
        <nb-list>
          <nb-list-item *ngFor="let i of [0,1,2,3,4,5,6]">
            <div fxLayout="column">
              <div class="caption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                <div>10.10.2021</div>
                <div>Milan Knop</div>
              </div>
              <p>
                wall of text wall of text wall of text wall of text wall of text wall of text wall of text wall of text
                wall
                of text wall of text wall of text wall of text wall of text wall of text wall of text wall of text wall
                of
                text wall of text wall of text wall of text wall of text wall of text wall of text wall of text wall of
                text
                wall of text wall of text wall of text
              </p>
            </div>
          </nb-list-item>
        </nb-list>


        <textarea rows="8" nbInput id="userNote" formControlName="userNote" fullWidth
                  placeholder="Zde vložte Vaší poznámku">
            </textarea>


      </nb-card-body>
      <nb-card-footer fxLayout="row" fxLayoutAlign="space-between center" style="padding-left:0; padding-right: 0;">
        <div [ngTemplateOutlet]="bottomLeftActions"></div>
        <button nbButton status="primary" type="submit" [disabled]="!this.noteForm.valid">
          <nb-icon icon="save-outline"></nb-icon>
          Uložit poznámku
        </button>
      </nb-card-footer>
    </form>
  </div>
  <div *ngIf="showTemplate === 2">
    <nb-card-body>
      <app-history-list [assetId]="asset.id" [gridUid]="'assetsDetailHistory'">
      </app-history-list>
    </nb-card-body>
    <nb-card-footer fxLayout="row" fxLayoutAlign="space-between center" style="padding-left:0; padding-right: 0;">
      <div [ngTemplateOutlet]="bottomLeftActions"></div>
    </nb-card-footer>
  </div>
  <ng-template #bottomLeftActions>
    <div fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutGap="1em">
      <button nbButton type="button" status="primary" [ghost]="this.showTemplate!=0" (click)="this.showTemplate=0">
        <nb-icon icon="monitor-outline"></nb-icon>
        Informace o majetku
      </button>
      <button nbButton type="button" style="position: relative;" status="info" [ghost]="this.showTemplate!=1"
              (click)="this.showTemplate=1">
        <nb-icon icon="edit-2-outline"></nb-icon>
        Poznámky
        <nb-badge status="info" position="top right" text="6"></nb-badge>
      </button>
      <button nbButton type="button" style="position: relative;" status="warning" [ghost]="this.showTemplate!=2"
              (click)="this.showTemplate = 2">
        <nb-icon icon="clock-outline"></nb-icon>
        Historie
      </button>
      <button nbButton type="button" style="position: relative;" status="warning" [ghost]="this.showTemplate!=2"
              (click)="this.showTemplate = 2">
        <nb-icon icon="clock-outline"></nb-icon>
        Soubory
      </button>
    </div>
  </ng-template>

</div>


