<nb-card status="danger">
  <nb-card-header>
    <nb-icon icon="person">
    </nb-icon>
    <span *ngIf="userToDelete">Smazání uživatele</span>
    <span *ngIf="!userToDelete">Smazání uživatelů</span>
  </nb-card-header>

  <nb-card-body fxLayoutGap="1em" fxLayout="column">
    <div>Opravdu chcete smazat?
      <div *ngIf="userToDelete">{{userToDelete.surname}} {{userToDelete.name}}</div>
    <ul *ngIf="(usersToDelete$ | async) as usrsToDel">
      <li *ngFor="let user of usrsToDel">{{user.surname}} {{user.name}}</li>
    </ul>
    </div>

  </nb-card-body>
  <nb-card-footer fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em">
    <button nbButton outline type="button" (click)="dismiss()">
      <nb-icon icon="close"></nb-icon>
      Zrušit
    </button>
    <button nbButton status="danger" (click)="deleteUsers()">
      <nb-icon icon="trash"></nb-icon>
      Smazat
    </button>
  </nb-card-footer>
</nb-card>
