#predefinedViews{
  margin: 1em
}

#predefinedViews button {
  height: 20px;
  font-size: 10px;
  font-weight: normal;
}

#predefinedViews select {
  padding: 0px;
  padding-left: 2px;
  box-sizing: content-box !important;
  border-radius: 5px;
  color: var(--text-basic-color);
  border-color: var(--ag-border-color, var(--border-basic-color-5));
}
