
div.section-footer {
  nb-icon, i {
    margin-right: .5em
  }
  nb-icon {
    font-size: 125%;
  }
}

button[nbbutton] {
  text-align: left;
  justify-content: left;
}

a[nbButton] {
  position: relative;
  text-align: left;
  justify-content: left;
}
