$pageWidth: 18.9cm;
$a4Width: 210;
$a4Height: 297;
$paddingPage: 15;

:host {
  color: black;
  background: white;
  width: $a4Width - (2 * $paddingPage);
  display: block;
}
p{
  color:black;
}

#protocolHeader{
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 1cm;
}

.pageWidth {
  //width: $pageWidth;
  width: $a4Width - (2 * $paddingPage);
  margin-left: $paddingPage;

}

table, tr, td, th {
  width: $pageWidth;
  border:1px solid black;
  border-collapse: collapse;
}

table {
  margin-bottom: 2cm;
}

td{
  padding-left:1em;
}
