<nb-layout fxLayout="column" fxFill *ngIf="!protocolsTemplate; else protocols">
  <nb-layout-column style="padding: 0; height: 100%; max-height: 100%; min-height: 100%;" fxLayout="column">
      <app-navigation fxLayout="row" fxLayoutAlign="start start"
                      [usersSelected]="usersSelected"
                      [activeTab]="activeTab"
                      (navigationButtonClicked)="navigationButtonClicked($event)"
                      (protocolEmit)="onProtocolEmit($event)"
      >
      </app-navigation>
    <div fxLayout="row" fxFlex fxLayoutAlign="start start" style="overflow: hidden">
      <router-outlet></router-outlet>
      <div id="assetQuickFilter">
        <app-quick-filter></app-quick-filter>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>


<ng-template #protocols>
  <router-outlet></router-outlet>
</ng-template>
