$colorPrimary: #0095D5;
$colorSuccess: #77bd33;
$colorInfo: #36bdb4;
$colorWarning: #c5a10d;
$colorDanger: #df5b5b;

$nb-themes: nb-register-theme((
  background-basic-color-1: #2f2f2f,
  background-basic-color-2: #36383b,
  background-basic-color-3: #424648,
  background-basic-color-4: #505050,

  text-basic-color: #c2c2c2,
  color-primary-100: #CAFBFC,
  color-primary-200: #96F0FA,
  color-primary-300: #60DAF2,
  color-primary-400: #39BDE5,
  color-primary-500: #0095D5,
  color-primary-600: #0073B7,
  color-primary-700: #005699,
  color-primary-800: #003D7B,
  color-primary-900: #002C66,
  color-success-100: #F0FBD6,
  color-success-200: #DEF8AF,
  color-success-300: #C1EB84,
  color-success-400: #A1D761,
  color-success-500: #77bd33,
  color-success-600: #5CA225,
  color-success-700: #448819,
  color-success-800: #306D10,
  color-success-900: #215A09,
  color-info-100: #D7FBEC,
  color-info-200: #B1F8E0,
  color-info-300: #86EBD2,
  color-info-400: #64D7C5,
  color-info-500: #36bdb4,
  color-info-600: #279FA2,
  color-info-700: #1B7B88,
  color-info-800: #115A6D,
  color-info-900: #0A435A,
  color-warning-100: #FCF6CD,
  color-warning-200: #F9EC9C,
  color-warning-300: #EDD868,
  color-warning-400: #DCC141,
  color-warning-500: #c5a10d,
  color-warning-600: #A98609,
  color-warning-700: #8D6D06,
  color-warning-800: #725504,
  color-warning-900: #5E4502,
  color-danger-100: #FDE9DF,
  color-danger-200: #FBCFC0,
  color-danger-300: #F5AD9E,
  color-danger-400: #EB8C83,
  color-danger-500: #df5b5b,
  color-danger-600: #BF424D,
  color-danger-700: #A02D41,
  color-danger-800: #811D37,
  color-danger-900: #6B1130,


  color-primary-transparent-100: rgba($colorPrimary, 0.08),
  color-primary-transparent-200: rgba($colorPrimary, 0.16),
  color-primary-transparent-300: rgba($colorPrimary, 0.24),
  color-primary-transparent-400: rgba($colorPrimary, 0.32),
  color-primary-transparent-500: rgba($colorPrimary, 0.4),
  color-primary-transparent-600: rgba($colorPrimary, 0.48),

  color-primary-success-100: rgba($colorSuccess, 0.08),
  color-primary-success-200: rgba($colorSuccess, 0.16),
  color-primary-success-300: rgba($colorSuccess, 0.24),
  color-primary-success-400: rgba($colorSuccess, 0.32),
  color-primary-success-500: rgba($colorSuccess, 0.4),
  color-primary-success-600: rgba($colorSuccess, 0.48),

  color-primary-info-100: rgba($colorInfo, 0.08),
  color-primary-info-200: rgba($colorInfo, 0.16),
  color-primary-info-300: rgba($colorInfo, 0.24),
  color-primary-info-400: rgba($colorInfo, 0.32),
  color-primary-info-500: rgba($colorInfo, 0.4),
  color-primary-info-600: rgba($colorInfo, 0.48),

  color-primary-danger-100: rgba($colorDanger, 0.08),
  color-primary-danger-200: rgba($colorDanger, 0.16),
  color-primary-danger-300: rgba($colorDanger, 0.24),
  color-primary-danger-400: rgba($colorDanger, 0.32),
  color-primary-danger-500: rgba($colorDanger, 0.4),
  color-primary-danger-600: rgba($colorDanger, 0.48),

  color-primary-warning-100: rgba($colorWarning, 0.08),
  color-primary-warning-200: rgba($colorWarning, 0.16),
  color-primary-warning-300: rgba($colorWarning, 0.24),
  color-primary-warning-400: rgba($colorWarning, 0.32),
  color-primary-warning-500: rgba($colorWarning, 0.4),
  color-primary-warning-600: rgba($colorWarning, 0.48),

), dark-cold, dark);

.nb-theme-dark-cold {
  .layout {
    background: linear-gradient(var(--background-basic-color-4) 0%, var(--background-basic-color-4) 80%, var(--background-basic-color-3) 100% );
  }
  .ag-theme-alpine {
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.5);
    //.ag-column-drop-horizontal {
    //  background-color: #0b0b0b;
    //}

    .ag-row {
      border: none !important;
    }

    .ag-header {
      background: linear-gradient(var(--color-primary-transparent-500) 0%, var(--background-basic-color-2) 3%, var(--background-basic-color-3) 95%, var(--background-basic-color-4) 100%),
    }
    .ag-tool-panel-wrapper {
      background: linear-gradient(210deg, var(--background-basic-color-2) 0%, var(--background-basic-color-2) 30%, var(--background-basic-color-3) 100%),
    }
    .ag-column-drop-wrapper .ag-column-drop-horizontal, .ag-side-buttons {
      background: var(--background-basic-color-2);
    }
  }
  app-ag-extended-header {
    background: linear-gradient(var(--color-primary-transparent-500) 0%, var(--background-basic-color-2) 3%, var(--background-basic-color-2) 23%, var(--background-basic-color-3) 100%);
    border-color: var(--border-basic-color-5);
  }
  app-ag-extended-header+ .ag-theme-alpine {
    .ag-column-drop-wrapper  .ag-column-drop-horizontal {
      background: linear-gradient(var(--background-basic-color-1) 0%, var(--background-basic-color-2) 10%, var(--background-basic-color-2) 60%, var(--background-basic-color-1) 100%),
    }
    .ag-header {
      background: linear-gradient(var(--background-basic-color-4) 0%, var(--background-basic-color-2) 3%, var(--background-basic-color-3) 95%, var(--background-basic-color-4) 100%),
    }
  }



  app-ag-extended-header.withoutGrouping{
    background: linear-gradient(var(--color-primary-transparent-500) 0%, var(--background-basic-color-1) 4%, var(--background-basic-color-2) 60%, var(--background-basic-color-2) 100%);
    border-color: var(--border-basic-color-5);
    &+ .ag-theme-alpine {
      .ag-header {
        background: linear-gradient(var(--background-basic-color-2) 0%, var(--background-basic-color-3) 95%, var(--background-basic-color-4) 100%),
      }
    }
  }

  nb-badge[status="basic"] {
    background: var(--text-basic-color);
    color: var(--text-alternate-color)
  }

  app-shopping {
    padding: .5rem;
  }

  .ribbon-menu {
    border-bottom: 1px solid var(--border-basic-color-5) !important;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.5);
  }

}
