<nb-icon icon="chevron-up-outline"
  *ngIf="!subMenuHidden"
         status="basic" style="position: absolute; right: 0; bottom: 0;cursor: pointer" (click)="subMenuHidden = true"></nb-icon>
<nb-tabset class="ribbon-menu" [ngClass]="{'ribbonSubmenuHidden':subMenuHidden}"
  (changeTab)="menuChange($event)" >
  <nb-tab tabTitle="Uživatelé" [ngClass]="{'emptyRibbon':!updateUsersInformation && !createUserAllowed && !deleteUserAllowed}" tabIcon="person-outline" [active]="isTabActive('users')" responsive>
    <div fxLayout="row" *ngIf="updateUsersInformation || createUserAllowed || deleteUserAllowed">
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row">
          <div class="fullHeightControl"  (click)="navigationButtonClicked.emit({action: navActionsEnum.usersList})">
            <nb-icon icon="person">
            </nb-icon>
            <span>Uživatelé</span>
          </div>
        </div>
        <div class="section-footer">
          seznam
        </div>
      </section>
      <section fxLayout="column" *ngIf="updateUsersInformation || createUserAllowed || deleteUserAllowed">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost
                    fullWidth (click)="navigationButtonClicked.emit({action: navActionsEnum.createUser})"
              *ngIf="createUserAllowed">
              <nb-icon icon="person-add">
              </nb-icon>
              nový
            </button>
<!--            <button nbButton size="tiny" ghost-->
<!--                    fullWidth (click)="navigationButtonClicked.emit({action: navActionsEnum.deleteSelectedUsers})"-->
<!--              *ngIf="deleteUserAllowed" [disabled]="!usersSelected">-->
<!--              <nb-icon icon="person-remove">-->
<!--              </nb-icon>-->
<!--              smazat-->
<!--            </button>-->
          </div>
<!--          <div fxLayout="column" fxFlex fxLayoutAlign="start start">-->
<!--            <button nbButton size="tiny" ghost-->
<!--                    fullWidth  (click)="navigationButtonClicked.emit({action: navActionsEnum.editSelectedUsers})"-->
<!--              *ngIf="updateUsersInformation" [disabled]="!usersSelected">-->
<!--              <nb-icon icon="people">-->
<!--              </nb-icon>-->
<!--              editace-->
<!--            </button>-->
<!--          </div>-->

        </div>
        <div class="section-footer">
          uživatel
        </div>
      </section>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Majetek" tabIcon="monitor-outline" [active]="isTabActive('assets')" responsive>
    <div fxLayout="row">
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row">
          <div
            class="fullHeightControl"
            (click)="navigationButtonClicked.emit({action: navActionsEnum.categoriesList})">
            <nb-icon icon="monitor-outline">
            </nb-icon>
            <span>Majetek</span>
          </div>
        </div>
        <div class="section-footer" fxLayout="row" fxLayoutAlign="center center">
          seznam
        </div>
      </section>
      <section fxLayout="column" *ngIf="assetsCreateAllowed">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost
                    fullWidth (click)="navigationButtonClicked.emit({action: navActionsEnum.createAsset});" >
              <nb-icon icon="plus">
              </nb-icon>
              přidat
            </button>
          </div>
        </div>
        <div class="section-footer" fxLayout="row" fxLayoutAlign="center center">
          <nb-icon icon="monitor-outline">
          </nb-icon>
          majetek
        </div>
      </section>
      <section fxLayout="column">
        <app-section-working-list fxLayout="column"
          (showWorkingList)="navigationButtonClicked.emit({action: navActionsEnum.showWorkingList});"
          [itemsInWorkingList]="itemsInWorkingList"
          (onClearWorkingList)="onClearWorkingList('assetList')"
        ></app-section-working-list>
      </section>
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost [disabled]="!itemsInWorkingList"
                    fullWidth (click)="onCreateProtocolClicked(2)"
                    style="position: relative">
              <nb-icon icon="share-outline">
              </nb-icon>
              Z pracovní sestavy
              <nb-badge position="center right" text="{{itemsInWorkingList}}" status="{{!itemsInWorkingList ? 'basic' : 'success'}}"
                        style="margin-right: -1em;"></nb-badge>
            </button>
            <button nbButton size="tiny" ghost [disabled]="!selectedItemInGrid.length"
                    fullWidth (click)="onCreateProtocolClicked(1)"
              style="position: relative;"
            >
              <nb-icon icon="checkmark-square-2-outline">
              </nb-icon>
              Z vybraných
              <nb-badge position="center right" text="{{selectedItemInGrid.length}}" status="{{selectedItemInGrid.length ? 'primary' : 'basic' }}"
                        style="margin-right: -1em;"></nb-badge>
            </button>
          </div>
        </div>
        <div class="section-footer" fxLayout="row" fxLayoutAlign="center center">
          <nb-icon icon="file-text-outline"></nb-icon>
          protokoly
        </div>
      </section>
      <section fxLayout="column" *ngIf="assetsInformationUpdateAllowed || assetsUserChangeAllowed">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost [disabled]="!itemsInWorkingListReachable"
                    fullWidth (click)="onShowMultiEditClicked(2)"
                    style="position: relative">
              <nb-icon icon="share-outline">
              </nb-icon>
              Z pracovní sestavy
              <nb-badge position="center right" text="{{itemsInWorkingListReachable}}" status="{{itemsInWorkingListReachable ? 'success' : 'basic'}}"
                        style="margin-right: -1em;"></nb-badge>
            </button>
            <button nbButton size="tiny" ghost [disabled]="!reachableItems"
                    fullWidth (click)="onShowMultiEditClicked(1)"
                    style="position: relative;"
            >
              <nb-icon icon="checkmark-square-2-outline">
              </nb-icon>
              Z vybraných
              <nb-badge position="center right" text="{{reachableItems}}" status="{{reachableItems ? 'primary' : 'basic'}}"
                        style="margin-right: -1em;"></nb-badge>
            </button>
          </div>
        </div>
        <div class="section-footer" fxLayout="row" fxLayoutAlign="center center">
          <i class="fas fa-hammer"></i>
          hromadné úpravy
        </div>
      </section>
      <section fxLayout="column" *ngIf="assetsRemoveAllowed">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost [disabled]="!itemsInWorkingListReachable"
                    fullWidth (click)="onShowRemoveAssetClicked(2)"
                    style="position: relative">
              <nb-icon icon="share-outline">
              </nb-icon>
              Ze sestavy
              <nb-badge class="text-danger-color" position="center right" text="{{itemsInWorkingListReachable}}" status="{{itemsInWorkingListReachable ? 'danger' : 'basic'}}"
                        style="margin-right: -1em;"></nb-badge>
            </button>
            <button nbButton size="tiny" ghost [disabled]="!reachableItems"
                    fullWidth (click)="onShowRemoveAssetClicked(1)"
                    style="position: relative;"
            >
              <nb-icon icon="checkmark-square-2-outline">
              </nb-icon>
              Z vybraných
              <nb-badge position="center right" text="{{reachableItems}}" status="{{reachableItems ? 'warning' : 'basic'}}"
                        style="margin-right: -1em;"></nb-badge>
            </button>
          </div>
        </div>
        <div class="section-footer" fxLayout="row" fxLayoutAlign="center center">
          <nb-icon icon="trash-2-outline"></nb-icon>
          vyřazení majetku
        </div>
      </section>
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost
                    fullWidth (click)="onShowRemovedAssetsListClicked()"
                    style="position: relative">
              <nb-icon icon="list-outline">
              </nb-icon>
              seznam majetku
            </button>
            <button nbButton size="tiny" ghost
                    fullWidth (click)="onShowRemovedProtocolsClicked()"
                    style="position: relative;"
            >
              <nb-icon icon="file-text-outline">
              </nb-icon>
              protokoly
            </button>
          </div>
        </div>
        <div class="section-footer" fxLayout="row" fxLayoutAlign="center center">
          <nb-icon icon="flash-off-outline"></nb-icon>
          vyřazený majetek
        </div>
      </section>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Sestavy"  tabIcon="list-outline" [active]="isTabActive('lists')" responsive>
    <div fxLayout="row">
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row">
          <div class="fullHeightControl"  (click)="navigationButtonClicked.emit({action: navActionsEnum.lists})">
            <nb-icon icon="list-outline">
            </nb-icon>
            <span>Sestavy</span>
          </div>
        </div>
        <div class="section-footer">
          seznam
        </div>
      </section>
      <section fxLayout="column">
        <app-section-working-list fxLayout="column"
          (showWorkingList)="navigationButtonClicked.emit({action: navActionsEnum.showWorkingList});"
          [itemsInWorkingList]="itemsInWorkingList"
          (onClearWorkingList)="onClearWorkingList('assetList')"
        ></app-section-working-list>
      </section>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Jednotky"  [ngClass]="{'emptyRibbon':!createUnitsAllowed}" tabIcon="layers-outline" [active]="isTabActive('units')" responsive>
    <div fxLayout="row" *ngIf="createUnitsAllowed">
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row">
          <div class="fullHeightControl"  (click)="navigationButtonClicked.emit({action: navActionsEnum.unitsList})">
            <nb-icon icon="layers">
            </nb-icon>
            <span>Jednotky</span>
          </div>
        </div>
        <div class="section-footer">
          seznam
        </div>
      </section>

      <section fxLayout="column" *ngIf="createUnitsAllowed">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost
                    fullWidth (click)="navigationButtonClicked.emit({action: navActionsEnum.createUnit});" >
              <nb-icon icon="plus">
              </nb-icon>
              přidat
            </button>
          </div>
        </div>
        <div class="section-footer">
          editace
        </div>
      </section>

      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost
                    fullWidth (click)="navigationButtonClicked.emit({action: navActionsEnum.collapseUnits})">
              <nb-icon icon="collapse-outline">
              </nb-icon>
              vše
            </button>
            <button nbButton size="tiny" ghost
                    fullWidth  (click)="navigationButtonClicked.emit({action: navActionsEnum.expandUnits})">
              <nb-icon icon="expand-outline">
              </nb-icon>
              vše
            </button>
          </div>
        </div>
        <div class="section-footer">
          akce
        </div>
      </section>

    </div>
  </nb-tab>
  <nb-tab tabTitle="Kategorie" [ngClass]="{'emptyRibbon':!categoriesCreateAllowed}"  tabIcon="grid-outline" [active]="isTabActive('categories')" responsive>
    <div fxLayout="row" *ngIf="categoriesCreateAllowed">
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row">
          <div class="fullHeightControl"  (click)="navigationButtonClicked.emit({action: navActionsEnum.categoriesList})">
            <nb-icon icon="grid-outline">
            </nb-icon>
            <span>Kategorie</span>
          </div>
        </div>
        <div class="section-footer">
          seznam
        </div>
      </section>
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost
                    fullWidth (click)="navigationButtonClicked.emit({action: navActionsEnum.createCategory});" >
              <nb-icon icon="plus">
              </nb-icon>
              přidat
            </button>
          </div>
        </div>
        <div class="section-footer">
          <nb-icon icon="grid-outline">
          </nb-icon>
          kategorie
        </div>
      </section>
      <section fxLayout="column">
        <div class="section-body" fxFlex fxLayout="row" fxLayoutAlign="" fxLayoutGap="0.2em">
          <div fxLayout="column" fxLayoutGap="0.2em">
            <button nbButton size="tiny" ghost
                    fullWidth (click)="navigationButtonClicked.emit({action: navActionsEnum.editCategoryColumns});" >
              <nb-icon icon="edit-outline">
              </nb-icon>
              upravit
            </button>
          </div>
        </div>
        <div class="section-footer">
          <nb-icon icon="bar-chart-outline"></nb-icon>
          sloupce
        </div>
      </section>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Lokace" tabIcon="navigation-2-outline" [active]="isTabActive('locations')" responsive>
  </nb-tab>
  <nb-tab tabTitle="Historie" tabIcon="clock-outline" class="emptyRibbon" [active]="isTabActive('history')" responsive>
  </nb-tab>
  <nb-tab tabTitle="Nápověda" tabIcon="question-mark-circle-outline" [active]="isTabActive('')" responsive>

  </nb-tab>
</nb-tabset>

<div class="login" fxLayout="row" fxLayoutGap="1em">
  <nb-icon icon="chevron-down-outline" status="warning" *ngIf="subMenuHidden" style="cursor: pointer" (click)="subMenuHidden=false"></nb-icon>
  <app-theme-selector style="margin-right: .5em"></app-theme-selector>
  <app-auth></app-auth>
</div>


